body{
	padding: 0px;
}
.content{
	width: 102%
}
.header{
	margin-top: 5px !important;
}

#photomanipulator-text2{
	margin-top: 19px !important;
}
#photomanipulator-text3{
	margin-top: 17px !important;
}
#see-artwork-text{

	margin-top: 28px !important;
}
