body{
	background: #222;
	overflow: auto;
}
.lightbox{
	border: 0px solid black;
}
.throbber{
	margin-top: 200px;
}
#content{

	height: 960px;
	width: 100%;
	position: absolute;
	top: 960px;
	left: 0px;
	background-repeat: no-repeat;
}

.header {
	margin-left: -10px;
	margin-top: -10px;
	
}

#navlist a {
	text-decoration: none;
	color: #eee;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 60px;
	color: white;
	font-size: 20px;
	height: 50px;
}

#navlist li img {
	margin-top: 10px;
	border: 0px solid black;
}

#photomanipulator-text1{
	margin-top: 175px;
	margin-left: 300px;
	border: 0px solid black;
	display: none;

}
#photomanipulator-text2{
	margin-top: 20px;
	margin-left: 300px;
	border: 0px solid black;
	display: none;
}
#photomanipulator-text3{
	margin-top: 20px;
	margin-left: 300px;
	border: 0px solid black;
	display: none;
}

#see-artwork-text{
	margin-left: 305px;
	margin-top: 30px;
	border: 0px solid black;
	display: none;
}

.row {
	float: left;
	margin-left: 60px;
	width: 258px;
	height: 258px;
}

.row img {
	margin-top: 50px;
}

.portfolio-div {
	position: absolute;
	top: 200px;
	left: 1280px;
	width: 100%;
}
