body{
	background: #333;
	overflow: auto;
}
.throbber{
	margin-top: 500px;
}
#content{
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.header {
	margin-left: -10px;
	margin-top: -10px;
	
}

#navlist a {
	text-decoration: none;
	color: #eee;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 60px;
	color: white;
	font-size: 20px;
	height: 50px;
}

#navlist li img {
	margin-top: 10px;
	border: 0px solid black;
}

#photomanipulator-text{
	margin-top: 175px;
	margin-left: 300px;
	border: 0px solid black;
}
#see-artwork-text{
	margin-left: 285px;
	margin-top: 30px;
	border: 0px solid black;
}
