body{
	background: url('background.jpg');	
	overflow: hidden;
}
.header {
	background: url('header-background.png');

	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
}
#navlist a {
	text-decoration: none;
	color: #eee;
}
#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 60px;
	color: white;
	font-size: 20px;
}
#navlist li img {
	margin-top: 10px;
	border: 0px solid black;
}

#photomanipulator-text{
	margin-top: 250px;
	margin-left: 300px;
	display: none;
}
